@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', 'Faustina', sans-serif;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24, 24, 24);
}

body {
    overflow-x: hidden;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    left: 19%
    /* mix-blend-mode: exclusion; */
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    margin-top: 12%;
    margin-left: -10%;
}

h2 {
    font-size: 2rem;
    color: white;
    z-index: 1;
    margin-top: -38%;
    margin-left: -10%;
}

section {
    height: 30vh;
}

.div1,
.div2 {
    height: 10vh;
}

.div2 {
    background: wheat;
}

.square {
    width: 50vw;
    height: 100vh;
    background-color: blue;
}

.square1 {
    width: 80vw;
    height: 100vh;
    background-color: rgb(0, 119, 255);
}

.red {
    background-color: red;
}

.close-button {
    display: none;
}